USE ESC KEY TO ENABLE

1) TO RUN THE SHELL  -->  shift + Enter
2) TO ADD NEW CELL BELOW THE CURRENT CELL  -->  b
3) TO ADD NEW CELL ABOVE THE CURRENT CELL   -->  a
4) TO DELETE THE CELL  -->  dd  (double d)
5) TO UNDO OPERATION  -->  z
6) TO FIND AND REPLACE  -->  f
7) TO SEE ALL SHORTCUTS  -->  h

# VARIABLES #

STORAGE UNIT 
Entity that stores the data
data cane be of any data type

In [10]:
s=20
print(s)

# TO read variable
# 1.  s is assigned with value 20
# 2.  s is initialized with value 20
# 3.  the value of 20 stored in variable s

20

#  RULES FOR NAMING THE VARABLES  #

# 1.  starts with A-z or a-z or _ (underscore)
# 2.  it should not contain special characters, space character etc.
# 3.  It should not start with number
# 4.  Python keywords should be avoided

In [14]:
#  multiple variables can be assigned in one line

a1,a2,a3="Hello",10,20
print(a1)
print(a2)
print(a3)

print(a1,a2,a3)

Hello
10
20
Hello 10 20

In [15]:
# variable cane be reinitialized, redeclared and reassigned

x=15
print(x)
x="Hello"
print(x)

15
Hello

#  COMMENTS  #
1. They are meant for internal documentation
2. They are written by writing '#' in the begining
3. Comments don't get executed

In [16]:
# hello 
# print('hello')

Dynamic typing  --

Data Type of variable changes at runtime

In [18]:
x='Hello'
print(x)
print(type(x))
x=45
print(x)
print(type(x))

Hello
<class 'str'>
45
<class 'int'>

Data Types -->
int, float, str, bool, NoneType, complex

In [19]:
x=10
print(x)
print(type(x))

10
<class 'int'>

In [21]:
x=10.1
print(x)
print(type(x))

10.1
<class 'float'>

*STRINGS*

1. Enclosed in single,double,triple quotes
2. Triple quotes are used to write multiline quotes

   '' - single quotes
   "" - double quotes
   '''''' - triple quotes
   """""" - triple quotes

In [22]:
s1='Welcome'
print(s1)
print(type(s1))

s2="Google"
print(s2)
print(type(s2))

Welcome
<class 'str'>
Google
<class 'str'>

In [23]:
s3='''hey
welcome to python tutorial'''
print(s3)
print(type(s3))

hey
welcome to python tutorial
<class 'str'>

In [25]:
s3="""hello,
guys This is Akanksha"""
print(s3)
print(type(s3))

hello,
guys This is Akanksha
<class 'str'>

In [26]:
s4=True
print(s4)
print(type(s4))

True
<class 'bool'>

In [27]:
s5=5+7j
print(s5)
print(type(s5))

(5+7j)
<class 'complex'>

In [28]:
s6= None
print(s6)
print(type(s6))

None
<class 'NoneType'>

# OPERATORS

1.  ARITHMETIC OPERATORS  +,-,*,/,//,**,%

In [2]:
a,b=5,2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)  # floor division
print(a**b)  # power operator
print(a%b)   # remainder

7
3
10
2.5
2
25
1

2. ASSIGNMENT OPERATORS

In [4]:
a,b=5,2
print(a,b)

a+=b    #  a=a+b
print(a,b)

a-=b    #  a=a-b
print(a,b)

a*=b    #  a=a*b
print(a,b)

a/=b    #  a=a/b
print(a,b)

a=b    #  a=b
print(a,b)

5 2
7 2
5 2
10 2
5.0 2
2 2

3. RELATIONAL OR COMPARISON OPERATORS

result is always true or false

In [6]:
a,b=12,15

print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)   # equals to
print(a!=b)   # not equals to

False
False
True
True
False
True

4. LOGICAL OPERATORS

returns true or false

and --> Returns true when both conditions are true, otherwise false
or  --> REturns true when either of the conditions is True, otherwise False

In [8]:
a,b,c=34,45,39

print(a>b and b>c)
print(a<b and b>c)
print(c<a or b>=a)
print(a>b or b<c)

False
True
True
False

5. MEMBERSHIP OPERATOR (in, not in)

Returns true or false
works with Strings List tuples and Sets

In [12]:
w='Welcome to python learning'

print('python' in w)
print('Python' in w)
print('where' in w)
print('ing' in w)
print('\n')
print('python' not in w)
print('where' not in w)

True
False
False
True


False
True

In [13]:
print('Hello \nWelcome to python tutorial')

Hello
Welcome to python tutorial

# parameters of print

In [15]:
#  end  -->  Values passed in end displayed at the end 

a="Hello"
b="Image"
c="Audio"
print(a,b,c, end=" **")   # Here end is specified as " **"
print(b)  # By default end ='\n'
print(c)

Hello Image Audio **Image
Audio

In [17]:
#   sep --> It is used to seperate different values that are passed in print()

a="Hello"
b="Image"
c="Audio"
print(a,b,c)
print(a,b,c, sep="@@")

Hello Image Audio
Hello@@Image@@Audio

input()  

1. Used to accept user input. Accept data at runtime
2. Return type of input() is string

In [19]:
n=input('Enter the number: ')
print(n)
print(type(n))

Enter the number: 5
5
<class 'str'>

# TYPECASTING

In [20]:
n=int(input('Enter the number: '))
print(n)
print(type(n))

Enter the number: 5
5
<class 'int'>

# PRINT FORMATTING METHODS

In [22]:
name='Akanksha'
age=21
city='Pune'

print(name,'who lives in',city,'is',age,'yrs old')

Akanksha who lives in Pune is 21 yrs old

In [23]:
print(f'{name} who lives in {city} is {age} years old')

Akanksha who lives in Pune is 21 years old

In [24]:
#  f string or formatted string

print(f'{name} who lives in {city} is {age} years old'.format(name,city,age))

Akanksha who lives in Pune is 21 years old

In [26]:
print('{} who lives in {} is {} years old'.format(name,city,age))

Akanksha who lives in Pune is 21 years old

In [29]:
# sequence of variables is important while writing format function

print('{} who lives in {} is {} years old'.format(age,city,name))

21 who lives in Pune is Akanksha years old