# CONDITIONAL STATEMENT

### 1.  IF

In [1]:
n=36
if n%3==0:
    print(f'{n} is divisible by 3')

36 is divisible by 3

### 2.  IF-ELSE

In [2]:
n=55
if n%3==0:
    print(f'{n} is divisible by 3')
else:
    print(f'{n} is not divisible by 3')

55 is not divisible by 3

### 3. IF-ELIF-ELSE

In [3]:
sub="SQL"

if sub=="Python":
    print('Python Dev')
elif sub=="Java":
    print("Java Dev")
elif sub=="C++":
    print("C++ Dev")
else:
    print("NOTA")

NOTA

### 4. NESTED-IF

In [4]:
n=41
if n%3==0:
    if n%5==0:
        print(f'{n} is divisible by 3 as well as 5')
    else:
        print(f'{n} is divisible by 3 not by 5')
else:
    if n%5==0:
        print(f'{n} is not divisible by 5 but divisible by 3')
    else:
        print(f'{n} is not divisible by 5 nor by 3')

41 is not divisible by 5 nor by 3

# LOOPS

### 1. FOR LOOP

##### SYNTAX:
range(start,end,step)
1. Default start = 0 <br>
2. Default step =1 <br>
3. if only one argument is passed, then it is considered as end. <br>

IN ASCENDING ORDER <br>
1. Iteration proceeds till end-1 <br>
2. Step value is positive

IN DESCENDING ORDER <br>
1. Iteration proceeds till end+1 <br>
2. Step value is neagative <br>

In [5]:
for i in range (4):     # start=0,end=4,step=+1
    print(i)

0
1
2
3

In [6]:
for i in range (4):     # start=0, end=4, step=+1
    print(i,end=' ')    # To print it in the same line use end

0 1 2 3

In [7]:
for i in range(10,16):    #start=10, end=16, step=+1
    print(i,end=' ')

10 11 12 13 14 15

In [8]:
for i in range(20,46,3):    #start=20, end=46, step=+3
    print(i,end=" ")

20 23 26 29 32 35 38 41 44

In [9]:
for i in range(10,20,2):
    print(i*3,end=" ")         # multipling result by 3

30 36 42 48 54

In [10]:
for i in range(10,20,2):
    print(i+5,end=" ")        # Adding 5 to result

15 17 19 21 23

In [11]:
for i in range(-18,20,5):
    print('i : ',i,'      i-3 : ',i-3)

i :  -18       i-3 :  -21
i :  -13       i-3 :  -16
i :  -8       i-3 :  -11
i :  -3       i-3 :  -6
i :  2       i-3 :  -1
i :  7       i-3 :  4
i :  12       i-3 :  9
i :  17       i-3 :  14

In [12]:
for g in range(40,30):    #start=40, end=30, step=+1
    print(g,end=" ")

In [13]:
for g in range(40,30,-1):    #start=40, end=30, step=-1
    print(g,end=" ")

40 39 38 37 36 35 34 33 32 31

In [14]:
for i in range(25,-10,-4):
    print(i,end=' ')

25 21 17 13 9 5 1 -3 -7

### STRINGS

In [15]:
s="Today"

# Indexing
# Left to Right  --> Index starts from 0 towards positive
# Right to Left  --> Index starts from -1 towars negative

In [16]:
s="Today"

print(s[0],s[1],s[2],s[3],s[4])
print(s[-1],s[-2],s[-3],s[-4],s[-5])

T o d a y
y a d o T

In [17]:
# For loop on strings

#  Method 1: Element wise iteration
s="Chrome"
for i in (s):   # i corresponds to each and very character of string from left to right
    print(i,end=' ')

C h r o m e

In [18]:
#  Method 2: Element wise iteration
s="Chrome"

for i in range (len(s)):
    print(i,end=' ')

print('')
    
for i in range(len(s)):   # i corresponds to each and very character of string from left to right
    print(s[i],end=' ')
    
print('\n')

for i in range (len(s)):    #start=0, end=len(s), step=+1
    print(i,s[i])

0 1 2 3 4 5
C h r o m e

0 C
1 h
2 r
3 o
4 m
5 e

In [19]:
s="Chrome"

for i in range (len(s)-1,-1,-1):      #start=len(s)-1, end=-1, step=-1
    print(i,s[i])

5 e
4 m
3 o
2 r
1 h
0 C

#### break -->  Takes the program control out of the loop

In [20]:
for i in range(10,20):
    if i%9==0:
        break
    else:
        print(i,end=" ")

10 11 12 13 14 15 16 17

In [21]:
for i in range(10,20):
    if i%9==0:
        print(i,end=" ")
        break
    else:
        print(i,end=" ")

10 11 12 13 14 15 16 17 18

In [22]:
for i in range(10,20):
    if i%9==0:
        print(i,end=" ")
    else:
        print(i,end=" ")
        break

10

#### continue --> takes the program control to the beginning of the loop

In [23]:
for i in range(10,20):
    if i%3==0:           # Values which are divisible by 3 are skipped 
        continue
    else:
        print(i,end=" ")

10 11 13 14 16 17 19

## 2. WHILE LOOP

In [24]:
i=0                    #start
while i<5:             #end
    print(i,end=" ")
    i+=1               #step

0 1 2 3 4

In [25]:
i=0                    #start
while i<5:             #end
    i+=1               #step
    print(i,end=" ")

1 2 3 4 5

In [26]:
i=20
while i>5:
    i-=3
    print(i,end=' ')

17 14 11 8 5

#####while loop on string

In [27]:
s="Laptop"
i=0
while i<len(s):
    print(s[i],end=' ')
    i+=1

L a p t o p

In [28]:
# printing reverse string

s="laptop"
i=len(s)-1
while i>-1:
    print(s[i],end=' ')
    i-=1

p o t p a l

In [29]:
#### Check if a number is armstrong or not

# 153= 1^3 + 5^3 + 3^3

In [30]:
n= int(input("Enter the number: "))
number=n
nlen=len(str(n))
k=0
while (number>0):
    k=k+(number%10)**nlen
    print(k)
    number=number//10

if(k==n):
    print(f"Number {n} is armstrong number")
else:
    print(f"Number{n} is not Armstrong number")

Enter the number: 1634
256
337
1633
1634
Number 1634 is armstrong number

In [31]:
# break and continue with while loop

In [32]:
i=10
while i<20:
    if i%9==0:
        break
    print(i,end=' ')
    i+=1

10 11 12 13 14 15 16 17

In [ ]:
i=10
while i<20:
    if i%3==0:
        continue  #continue is not running for while loop
    print(i,end=' ')
    i+=1

10 11

In [ ]:
i=10
while i<20:
    i+=1
    if i%3==0:
        continue  
    print(i,end=' ')