### **Functions**
1. Functions facilitate reusability of code
2. They prevent the code repetation

##### **Types of functions**
1. Built-in functions - print(), input(), len(), type(), list().append()
2. User defined function - They are created by user/developers to solve a problem statement

#### **User defined function**
1. Non-parameterized
2. Parameterized

#### **Non-parameterized Functions**
Write a function to print sum of two numbers

In [1]:
# Function defination
def sum2num():
  a = int(input('Enter 1st number : '))
  b = int(input('Enter 2nd number : '))
  print(a+b)

In [2]:
sum2num()

Enter 1st number : 24
Enter 2nd number : 54
78

In [3]:
sum2num()

Enter 1st number : 56
Enter 2nd number : 46
102

In [5]:
# WAF to print area of circle using its radius as user input

def area():
  r = int(input("Enter the radius of circle : "))
  print(round(3.14*r*r,2))

area()

Enter the radius of circle : 12
452.16

In [7]:
# WAF to print the diagonal and perimeter of rectangle given length and area as user input

def rect():
  len = int(input("Enter the length of rectangle : "))
  area = int(input("Enter the area of rectangle : "))

  breadth = area/len
  perimeter = 2*(len+breadth)
  diagonal = (len**2 + breadth**2)**(1/2)
  print(f'Length : {len}')
  print(f'breadth : {breadth}')
  print(f'area : {area}')
  print(f'perimeter : {perimeter}')

# calling function
rect()

Enter the length of rectangle : 4
Enter the area of rectangle : 12
Length : 4
breadth : 3.0
area : 12
perimeter : 14.0

In [9]:
# WAF to compute speed given distance and time as user inputs

def speed():
  d = int(input('Enter the distance : '))
  t = int(input('Enter the time : '))
  print(f"Speed of the given function is :{d/t}")


# Function calling
speed()

Enter the distance : 12
Enter the time : 3
Speed of the given function is :4.0

### **Parameterized function**

In [11]:
# WAF to check if a given number is even or odd

def evenOdd(n):
  if n%2 == 0:
    print("Even")
  else:
    print("Odd")


# calling function
evenOdd(13)

Odd

In [13]:
# WAF to print the table of a number(1-10) provided the number as argument

def table(n):
  for i in range(1, 11):
    print(i*n)

# calling function
table(23)

23
46
69
92
115
138
161
184
207
230

In [15]:
# WAF to print the table of a number(10-1) provided the number as argument

def table_rev(n):
  for i in range(10, 0, -1):
    print(i*n)

# calling function
table_rev(23)

230
207
184
161
138
115
92
69
46
23

#### **Positional Argument and Default arguments**
Default arguments - Parameters initialised by default values in the function definition. They are used when the corresponding argument is not passed while function is called

##### **While defining function with arguments**
1. Positional arguments have be definrd first(in left to right order) and then followed by default arguments

##### **Example that generate error**
f1(a,b=7,c)
f1(a=8,b=7,c)
f1(b=7,c)

In [17]:
def fun1(a, b, c=6):
  r = (b * a) - c
  print(r)

fun1(2, 3, 4) #a=2, b=3, c=4
fun1(2, 3) #a=2, b=3, c=6
# fun1(b=2, 3) #a=2, b=3, c=4

2
0

#### **Return keyword**
1. Return is only used inside the functions
2. Return has to be the last statement in the function
3. Return can be used only once in the function(Excluding the if-elif-else condition)
4. If multiple return statements are used, only the first one is the valid statement
5. Return can not de used to generate a sequence
6. Any code return below the return keyword will not be executed

In [19]:
def greet(name):
  return "Hello " + name


# Function calling
a = greet("Akanksha")
print(a)

Hello Akanksha

In [20]:
# If multiple return statements are used, only the first one is the valid statement

def fun3():
  return 10
  return "Welcome"

a1 = fun3()
print(a1)

10

In [21]:
# Return can not de used to generate a sequence

def fun4(n):
  for i in range (n):
    print(i, end = " ")

fun4(4)

0 1 2 3

In [23]:
def fun4(n):
  for i in range (n):
    return i

fun4(4)

0