# SETS

1. It is an unordered data type.
2. Indexing and slicing can't be performed.
3. Sets don't retain duplicates.
4. Set elements are enclosed in {}

#### Empty Set

In [1]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [4]:
s1 = {1,1}
print(s1)

{1}

In [7]:
s1 = {10,20,30,40,22,25,43}
s2 = {7,9,12,15,25,27,32,56,30}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))      # elements in s1 which are not in s2

print(s1.symmetric_difference(s2))  # Difference of union and intersection

s3 = s1.union(s2)
s4 = s1.intersection(s2)
print(s3.difference(s4))

{7, 9, 10, 12, 15, 20, 22, 25, 27, 30, 32, 40, 43, 56}
{25, 30}
{40, 10, 43, 20, 22}
{32, 7, 40, 9, 10, 43, 12, 15, 20, 22, 56, 27}
{32, 7, 40, 9, 10, 43, 12, 15, 20, 22, 56, 27}

#### Sets are unordered so elements can be added anywhere in the set

In [10]:
g1 = {10,20,3,34,'Neymer',45,56,67,78}
print(g1)
g1.add('Kylian')
print(g1)

{34, 3, 67, 10, 45, 'Neymer', 78, 20, 56}
{34, 3, 67, 10, 45, 'Neymer', 78, 'Kylian', 20, 56}

In [11]:
print(s1-s2)

{40, 10, 43, 20, 22}

#### clear()

In [12]:
g1 = {10,20,3,34,'Neymer',45,56,67,78}
print(g1)
g1.clear()
print(g1)

{34, 3, 67, 10, 45, 'Neymer', 78, 20, 56}
set()

#### update()

In [13]:
s1 = {10,20,30,40,22,25,43}
s2 = {7,9,12,15,25,27,32,56,30}
print(s1)
print(s2)
s1.update(s2)
print(s1)
print(s2)

{20, 22, 40, 25, 10, 43, 30}
{32, 7, 9, 12, 15, 56, 25, 27, 30}
{7, 9, 10, 12, 15, 20, 22, 25, 27, 30, 32, 40, 43, 56}
{32, 7, 9, 12, 15, 56, 25, 27, 30}

In [14]:
s1 = {10,20,30,40,22,25,43}
s2 = {7,9,12,15,25,27,32,56,30}
s3 = {27,34,30,1000}
print(s1.union(s2,s3))
print(s1.intersection(s2,s3))

{7, 9, 10, 12, 15, 20, 22, 25, 27, 30, 32, 34, 40, 1000, 43, 56}
{30}